@font-face {
    font-family: Sk Modernist;
    src: url("./assets/Sk-Modernist-Bold.otf") format("opentype");
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

h1 {
    font-family: 'Sk-Modernist';
    font-weight: 900;
    letter-spacing: -.01em;
    text-transform: uppercase;
    margin-top: 10vh;
    text-align: center;
    font-size: 15.5em;
    line-height: .7;
    text-shadow: 3px 4px black, -3px 4px black, 3px -4px black, -3px -4px black, 2px 4px black, -2px 4px black, 2px -4px black, -2px -4px black, 1px 4px black, -1px 4px black, 1px -4px black, -1px -4px black;
}

#sculpture {
    pointer-events: none;
    position: fixed;
    inset: 0;
    z-index: 100;
}
